@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 60px;
}

.header-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

/* .logo {
  height: inherit;
} */

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading p {
  color: #828282;
}

.goals {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.goal {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  margin: 1rem 0;
  padding: 0.1rem 0 1rem;
}

.goal .action-buttons {
  display: flex;
  justify-content: flex-end;
  height: fit-content;
}

.action-buttons .delete {
  cursor: pointer;
  border: none;
  background: none;
  margin-left: 0.3rem;
  /* color: lightcoral; */
  height: fit-content;
}

.action-buttons .edit {
  cursor: pointer;
  border: none;
  background: none;
  margin-left: 0.3rem;
  /* color: cornflowerblue; */
  height: fit-content;
}

.form,
.content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

/*--------------------------------------- MODAL STUFF -------------------------*/
.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.container-modal {
  max-width: 600px;
  width: 100%;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
}

.modal-close {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem 0.5rem;
}
.modal--button-main {
  /* bottom: 8px;
  right: 8px; */
  cursor: pointer;
  width: fit-content;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
  padding: 1rem 2rem;
}

@media screen and (max-width: 768px) {
  html {
    -webkit-text-size-adjust: none;
  }
  /* Header or Nav Section */
  .header {
    display: block;
    font-size: 1em;
  }

  .header img {
    display: none;
  }
  .header ul {
    display: block;
  }
  .header ul li {
    margin: 0;
  }
  .header .btn {
    padding: 0.5em;
    border-radius: 0.2em;
    font-size: 1em;
    font-weight: 300;
  }
  /* Hero Section */
  .heading {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1em;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  /* Form and Content */
  section label {
    font-size: 1em;
  }
  .form,
  .content {
    width: 100%;
    margin: 0;
  }
  .goals {
    display: flex;
    flex-direction: column;
  }
  .goal {
    margin: 0.5rem;
  }
  .modal-close,
  .goal .action-buttons {
    font-size: 1.8em;
  }
  .modal-close,
  .goal .action-buttons > div {
    margin-right: 0.2em;
  }
  .goal div {
    font-size: 0.6em;
  }
  .goal h2 {
    font-size: 1em;
  }
}

@media screen and (max-width: 500px) {
  .container-modal {
    flex-direction: column;
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    height: 100vh;
  }
}

/* OTHER STUFF */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    /* width: 90%; */
  }
}
